{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "overrides": [
    {
      "files": ["src/**/*.tsx"],
      "rules": {
        "react/prop-types": "off",
        "react/require-default-props": "off"
      }
    }
  ]
}
